<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Crime">
    
    <title>로그인</title>

    {% include "page_modules/common_css.html" %}
    {% block css_block %}
    {% endblock %}


</head>

<body class="bg-dark">

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="{{ url_for('main.index') }}">
                        <img class="align-content" src="/static/images/logo.png" alt="">
                    </a>
                </div>
                <div class="login-form">
                    <form action="{{ url_for('auth.login') }}" method="post">
                        <div class="form-group">
                            <label>Email 주소</label>
                            <input type="email" class="form-control" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label>비밀번호</label>
                            <input type="password"  class="form-control" name="passwd" placeholder="비밀번호">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="remember"> 로그인 상태 유지
                            </label>
                            <label class="pull-right"><a href="{{ url_for('auth.forget_password') }}">비밀번호 찾기</a></label>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">로그인</button>
                        <br>
                        <br>
                        <div class="register-link m-t-15 text-center">
                            <a href="{{ url_for('auth.register') }}"> 회원가입 </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% include "page_modules/common_js.html" %}
    {% block js_block %}
    {% endblock %}

</body>

</html>
